@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hurricane&display=swap");

/* IPAD  */
@media (min-width: 820px) {
  header {
    height: 200px;
  }

  .customer-info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 30px;

    font-size: 0.8rem;
    padding: 3px;
  }

  .customer-care {
    justify-content: unset;
    background-color: black;
    color: white;
    font-size: 11px;
    width: auto;
    min-width: 250px;
    margin-left: 15px;
    height: auto;
  }

  .customer-blackline {
    height: 100%;
    margin-right: 30px;
  }

  .customer-care a {
    color: white;
  }

  .customer-currency {
    width: auto;
    min-width: 20px;
  }

  .customer-currency i {
    margin-left: 5px;
  }

  .customer-account {
    width: 5%;
    min-width: 120px;
    font-size: 0.8rem;
  }

  .customer-account i {
    font-size: 1rem;
  }

  .customer-account a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    min-width: 120px;
  }

  .search {
    width: 5%;
    border-right: #838383 solid 2px;
  }

  .search i {
    font-size: 1rem;
  }

  .shop-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    height: 175px;
  }

  /* .shop-info a {
        padding-top: 15px;
    } */

  .logo {
    display: inline-block;
    height: 50px;
    width: 150px;
    min-width: 0;

    background-size: contain;
    margin-left: 15px;
  }

  .big-cart {
    width: 215px;
    height: 65px;
    border: 1px solid grey;
    margin-right: 30px;
  }

  .your-cart {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
  }
  .cart {
    display: flex;
    font-size: 1rem;
    height: 50%;
    width: 100%;

    border: none;
    border-top: 1px solid #b3b3b3;
    /* important for big-cart  */
    margin-left: 0;
  }

  .cart-icon {
    background-size: contain;
  }

  .cart-info {
    min-width: 0;
    font-size: 1rem;
  }

  .menu {
    /* padding: 0; */
    height: 50px;
  }

  .menu button {
    font-size: 1.5rem;
    padding: 0 2%;
  }

  .background {
    display: block;
    width: 100%;
    height: 310px;

    background-color: rgb(246, 243, 236);
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .crazy_summer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;

    margin-left: 2.5rem;
  }

  .crazy_summer {
    font-size: 3rem;
    width: 360px;
    font-family: "HelveticaNeueLTStd";
    color: rgb(120, 100, 93);
    text-transform: uppercase;
    text-align: center;
  }

  .background button {
    background-color: rgb(255, 166, 135);
    box-shadow: 0px 3px 0px 0px rgba(221, 107, 68, 0.004);
    color: white;
    width: 120px;
    height: 40px;
  }

  .background button:hover,
  .background button:active {
    cursor: pointer;
    border: black solid 2px;
    font-size: 1rem;
  }

  .big-rectangle {
    background-color: rgb(120, 100, 93);
    width: 341px;
    height: 4px;
  }

  .slim-rectangle {
    background-color: rgb(120, 100, 93);
    width: 339px;
    height: 1px;
    margin-top: 3px;
  }

  .short-rectangle {
    background-color: rgb(120, 100, 93);
    width: 74px;
    height: 1px;
  }

  #crasy-p {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Hurricane", cursive;
    color: rgb(120, 100, 93);
    line-height: 1.2;
    text-align: center;
  }

  #woman-collection {
    font-size: 24px;
    width: 360px;
    font-family: "HelveticaNeueLTStd";
    color: rgb(120, 100, 93);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }

  .contact-us {
    flex-wrap: nowrap;
    width: 100%;
    height: 55px;
    margin-top: 75px;
    margin-bottom: 25px;

    background-color: #ededed;
  }

  .contact-us label {
    margin-top: 0.5%;
    display: inline-block;
    padding: 25px;
    min-width: 175px;
  }

  .contact-us input {
    width: auto;
    height: 30px;
    font-size: 1rem;
    margin-left: -8rem;
  }

  .contacts {
    width: 60%;
    padding-right: 10px;
  }
  .contact-us p {
    display: inline-block;
    width: 15%;
    padding: 25px;
  }

  .social-networks {
    /* width: 30%; */
    min-width: 150px;
    max-width: 210px;
    list-style-type: none;
  }

  .social-network {
    width: 30%;
    height: 55px;
    margin: 15px 0;
    color: #6b6b6b;
  }

  /* MAIN  */
  .special-offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 30vh;
    padding: 0 2%;
  }

  .shop-now-btn {
    display: block;
    background-color: #4fafa0;
    box-shadow: 0px 3px 0px 0px rgba(221, 107, 68, 0.004);
    color: white;
    width: 85px;
    height: 35px;

    position: relative;
    left: 10%;
    top: 70%;
  }

  .shop-now-btn:hover,
  .shop-now-btn:active {
    cursor: help;
    border: none;
  }

  .offers-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .offer-1,
  .offer-2,
  .offer-3,
  .offer-4 {
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 3px white;
  }

  .offer-1 {
    background-image: url("images/promo1.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
  }

  .offer-2 {
    background-image: url("images/promo2.png");
    width: 100%;
    height: 50%;
  }

  .offer-3,
  .offer-4 {
    width: 50%;
    height: 50%;
  }

  .offer-3 {
    background-image: url("images/promo3.png");
  }

  .offer-4 {
    background-image: url("images/promo4.png");
  }

  .offer-1 a,
  .offer-2 a,
  .offer-3 a,
  .offer-4 a {
    text-decoration: none;
    color: white;
  }

  .offer-1 a,
  .offer-2 a,
  .offer-3 a,
  .offer-4 a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  .offer-4 a {
    color: white;
    font-size: "Red Hat Mono";
    font-weight: 700;
    font-size: 2rem;
  }

  .offer-1,
  .offer-2,
  .offer-3,
  .offer-4 {
    position: relative;
  }

  /* OFFER 1 */
  .offer-1__text {
    text-align: center;

    position: absolute;
    bottom: 15%;
    right: 5%;
  }

  .p-best {
    font-size: 33px;
    font-weight: bolder;
    margin-bottom: -15px;
    color: black;
  }

  .p-outfits {
    font-size: 82px;
    font-family: "Amatic SC", cursive;
    color: black;
  }

  .n-background {
    background-image: url(images/items/n-sign.png);
    background-size: contain;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-looks {
    font-size: 60px;
    font-weight: bold;
    color: #4fafa0;
  }

  /* OFFER 3 */
  .p-best-sells {
    position: absolute;
    bottom: 5px;
    left: 15%;
    font-family: "Amatic SC", cursive;
    color: white;
    font-size: 3rem;
  }

  /* OFFER 4  */
  .offer-4__text {
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 15%;
    color: white;
    font-size: 2rem;
  }

  /* CATEGORIES  */

  .category-form {
    display: none;
  }

  .categories {
    display: flex;
    list-style-type: none;
  }

  .catetory-item {
    margin-left: 5rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  /* .catetory-item:nth-child(5) {
        margin-left: 25rem;
    } */

  .catetory-item:nth-child(6) {
    margin-left: 1rem;
  }

  .catetory-item:hover,
  .catetory-item:active {
    background-color: #ffa687;
    color: white;
    cursor: pointer;
  }

  .product-item:nth-child(3) {
    display: inline-block;
    width: 280px;
    height: 500px;
    background-color: white;
    margin: 10px;
  }

  .petrol-dress {
    background-image: url("images/items/petrol-dress.png");
  }

  .more-btn {
    display: none;
  }

  /* SALES  */

  .sales-products-item:nth-child(3) {
    display: inline-block;
    width: 280px;
    height: 500px;
    background-color: white;
    margin: 10px;
  }

  .sofi-dress {
    background-image: url("images/items/dress2.png");
  }

  /* FOOTER  */
  .big-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }

  .big-footer p {
    font-size: 2rem;
    color: #414141;
  }

  .favorite-brands {
    list-style-type: none;
    display: flex;
  }

  .brand-item {
    display: inline-block;
    height: 100px;
    width: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-position: contain;
    margin: 0 2rem;
  }

  .brand-item a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  .addict {
    background-image: url("images/brands/1.png");
  }

  .abandon {
    background-image: url("images/brands/2.png");
  }

  .boy {
    background-image: url("images/brands/3.png");
  }

  .converse {
    background-image: url("images/brands/4.png");
  }

  .edwin {
    background-image: url("images/brands/4.png");
  }

  .adidas {
    background-image: url("images/brands/4.png");
  }

  .grenson {
    background-image: url("images/brands/4.png");
  }

  .calvin-klein {
    background-image: url("images/brands/5.png");
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us p {
    text-align: center;
    padding: 2%;
    padding-top: 1rem;
    color: #999999;
  }

  p.p-about-us {
    font-size: 2rem;
    margin-bottom: -25px;
    color: black;
  }

  .pay-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f7f7f7;
  }

  .pay-info p {
    padding-right: 10px;
  }

  .we-accept {
    background-color: #f7f7f7;
    height: 25px;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url("images/we-accept.png");
    background-size: contain;
    background-position: center;
  }

  .base-info {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: #ededed;
  }

  .base-info-links {
    width: 80%;

    display: flex;
    flex-wrap: wrap;
  }

  ul.social-items {
    width: 10%;
  }

  .base-info-links ul {
    min-width: 110px;
    margin-left: 2rem;
  }

  .customer-service {
    min-width: 250px;
  }

  .base-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .base-info li {
    color: #a8a6a5;
  }

  .base-info li.social-item,
  .base-info li:first-child {
    color: #544f4d;
    font-size: 2rem;
    font-weight: bold;
  }

  .base-info li:first-child {
    margin-bottom: 1.5rem;
  }

  .secure-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    display: center;

    background-image: url("images/secure-badge.png");
    background-repeat: no-repeat;
  }

  #footer-menu {
    display: none;
  }

  .black-bar-info {
    margin-left: -5rem;
    list-style-type: none;
    display: flex;
  }

  .info-item {
    color: #8d8d8d;
    font-size: 1rem;
  }

  li a {
    text-decoration: none;
    color: #8d8d8d;
  }

  li i a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  .black-bar p {
    color: #8d8d8d;

    font-size: 1rem;
  }
}
