@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* HEADER  */
header {
  height: 90px;
  width: 1200px;
  background-color: black;
}

.user-info {
  display: flex;
  background-color: #8cc34b;
  width: 1200px;
  height: 90px;

  padding: 15px 30px;
  box-sizing: border-box;
  justify-content: space-between;
}

.user {
  width: 400px;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.user-photo {
  background-image: url("static/images/user-photo.jpg");
  width: 60px;
  height: 60px;
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
}

.user-name__name {
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 21px;
}

.user-name__email {
  color: #d2e8b9;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.social-networks {
  display: flex;
  align-items: center;
}

.network-items {
  list-style-type: none;
}

.network-item {
  display: inline-block;
  margin-right: 25px;
}

li a {
  width: 50px;
  height: 50px;
}

.fa-brands {
  color: #ddedc9;
  font-size: 2.5rem;
}

.fa-brands:hover {
  color: white;
}

/* MAIN  */

main {
  width: 1200px;
  height: auto;
}

.about-student {
  width: 1200px;
  height: auto;
  box-sizing: border-box;
  padding: 70px 120px;

  .image {
    width: 145px;
    height: 145px;
    display: inline-block;
    float: left;
    background-image: url("static/images/hello.png");
  }

  .idea {
    background-image: url("static/images/picture2.png");
  }

  h1,
  h3 {
    text-align: center;
    font-family: "Myriad Pro", Myriad;
    font-weight: 400;
  }

  h1 {
    font-size: 41px;
  }

  h3 {
    margin: 1% 0;
    color: #727272;
    font-weight: 300;
    font-size: 21px;
  }
}

.description {
  display: inline-block;
  width: 45%;
  height: auto;
  vertical-align: middle;
  margin-right: 4%;
  margin-top: 40px;
}

.text-description {
  display: flex;
  flex-direction: column;
  padding-left: 30px;

  h5,
  p {
    font-family: "Myriad Pro", Myriad;
    font-weight: 400;
  }

  h5 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  p {
    color: #858585;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    width: 285px;
    line-height: 1.3rem;
  }

  a {
    color: #44b6f5;
  }
}

/* COURSES  */

.course-block {
  display: inline-block;
  text-align: center;
  vertical-align: top;

  margin-top: 50px;
  margin-left: 15px;
  
  background-color: white;
  border: solid 5px #f6f7f2; 
  box-shadow: 0 1px 1px #d7d6d6;

  :hover,
  :active {
    cursor: pointer;

    .course-title {
      color: #acd27d;
    }

    .course-image {
      border-bottom: #8cc34b 4px solid;
    }
  }
}

.course-card {
  box-sizing: border-box; /* fix moving another element, while hover effect works */
  display: inline-block;
  width: 300px;
  vertical-align: top;
  text-align: center;
  background-color: white;
}

.big-card {
  height: 450px;
}

.courses {
  box-sizing: border-box;
  padding: 80px 100px;
  width: 1200px;

  background-image: url("static/images/bg.png");

  h1,
  h3,
  h4 {
    text-align: center;
    font-family: "Myriad Pro", Myriad;
    font-weight: 400;
  }

  h1 {
    font-size: 42px;
    font-weight: bold;
  }

  h3 {
    color: #848483;
    font-weight: 400;
    margin-top: 12px;
  }

  h4 {
    margin: 20px;
    text-align: left;
    padding-left: 8px;

    font-family: "Myriad Pro", Myriad;
    font-weight: 500;
    font-size: 21px;
  }
}

.course-title {
  font-size: 24px;

  :hover,
  :active {
    color: green;
  }
}

.course-description {
  text-align: left;

  color: #7b7b7b;
  box-sizing: border-box;
  margin: 20px;

  font-family: "Myriad Pro", Myriad;
  font-weight: 400;
  font-size: 14px;
}

.course-image {
  width: 300px;
  height: 170px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border-bottom: 4px solid white;
}

.js {
  background-image: url("static/images/js.png");
}

.jQuery {
  background-image: url("static/images/jQuery.png");
}

.baseElements {
  background-image: url("static/images/black.png");
}

.adaptiveSites {
  background-image: url("static/images/adaptive.png");
}

.buttonGenerator {
  background-image: url("static/images/button.png");
}

.css {
  background-image: url("static/images/css.png");
}

span {
  width: 100px;
  height: 100px;
  color: black;
}

.length-info {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 15px;
  font-size: 14px;

  .fa-clock {
    color: #b6b6b6;
  }

  .time-info {
    width: 200px;
    color: #b6b6b6;
    text-align: left;
    padding-left: 8px;
  }
}

.check-visability {
  height: 60px;
  background-color: #f6f7f2;
  color: #727272;
  display: flex;
  align-items: center;
  padding-left: 22px;
  font-size: 18px;
  font-weight: 500;

  label {
    padding-left: 10px;
  }
}

input[type="checkbox"] {
  transform: scale(1.7);
  margin-right: 10px;
}

.checkbox-visability:checked + .check-label {
  color: #acd27d;
  font-weight: bold;
}

.checkbox-visability:checked > .course-card {
  background-color: black;
}

.checkbox-visability:checked {
  accent-color: #74992e;
}

/* FOOTER  */

footer {
  width: 1200px;
  height: 70px;

  box-sizing: border-box;

  background-color: black;
  color: grey;
  text-align: center;

  padding: 20px 20%;
  font-size: 18px;

  p {
    font-size: 14px;
  }
}

.course-card.checkedSeen {
  background-color: #74992e !important;
}

// CHECKBOX EFFECT
.checkbox-effect {
  width: 300px;
  height: 434px;
  position: absolute;
}
