* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Arial;
}

header {
  height: 620px;
  width: 100vw;
}

/* HEADER  */
.customer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 190px;
  background-color: black;
  color: white;
  font-size: 30px;
}

.customer-care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  width: 100%;
  height: 95px;
  min-width: 370px;
}

.customer-care a {
  text-decoration: none;
  color: black;
}

.customer-blackline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 95px;
  width: 100%;
}

.customer-blackline div {
  height: 100%;
  border-left: 1px solid grey;
}

.customer-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  min-width: 135px;
  width: 20%;
}

.customer-currency i {
  margin-left: 10px;
}

.customer-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  min-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: #838383 solid 1px;
  border-right: #838383 solid 1px;
}

.customer-account p {
  display: inline;
  margin-left: 8px;
}

.customer-account a {
  color: #838383;
  text-decoration: none;
  min-width: 250px;
  color: white;
  text-decoration: none;
}

.customer-account i,
.search i {
  font-size: 2rem;
  color: white;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.customer-account a,
.customer-currency a {
  color: white;
  text-decoration: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 100%;
}

.search a {
  display: block;
  text-decoration: none;
}

.shop-info {
  height: 420px;
  width: 100vw;
  padding-right: 45px;
}

.logo {
  height: 200px;
  min-width: 440px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 60px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  padding: 0px 30px 0 18px;
  width: 100%;
  height: 100px;
  border: 1px solid #b3b3b3;
  margin-bottom: 25px;
  margin-left: 15px;
}

.cart-icon {
  height: 100%;
  min-width: 75px;
  background-image: url("images/icons/cart-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cart-icon a {
  display: block;
  height: 100%;
}

.your-cart {
  display: none;
}

.cart-info {
  min-width: 275px;
  font-size: 30px;
  text-align: right;
}

.cart-info a {
  color: #949393;
  text-decoration: none;
}

.menu-list {
  display: none;
}

.menu {
  height: 100px;
  width: 100%;
}

.menu button {
  font-size: 2.5rem;
  color: white;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-left: 15px;
}

.menu-btn {
  height: 100%;
  width: 100%;
  background-color: #fd926d;
}

.menu-btn p {
  font-size: 30px;
}

.menu-btn a {
  text-decoration: none;
  color: white;
  font-family: Arial;
}

/* MAIN  */
.background {
  display: none;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: white;
  font-size: 1rem;
}

.contact-us label {
  display: none;
  padding: 25px;
}

.contact-us input {
  width: 100%;
  padding: 0 2rem;
  padding-top: 10px;
  font-size: 1.5rem;
  font-style: italic;
  height: 90px;
  margin-left: 15px;
  background-color: #ededed;
  border: none;
  -webkit-box-shadow: 0px 8px 0px 0px #ededed;
          box-shadow: 0px 8px 0px 0px #ededed;
}

.contact-us a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 25px 0;
}

.contact-us p {
  display: inline-block;
  width: 30%;
  min-width: 170px;
  padding: 25px 0;
  color: #6b6b6b;
}

/* MAIL  */
.mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plus-btn {
  background-color: #fd926d;
  -webkit-box-shadow: 0px 8px 0px 0px #dd6b44;
          box-shadow: 0px 8px 0px 0px #dd6b44;
  border: none;
  width: 96px;
  height: 90px;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.p-find-us {
  font-size: 26px;
}

.contacts {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  list-style-type: none;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  background: #f7f7f7;
  vertical-align: middle;
}

.social-network i {
  font-size: 2rem;
  color: #6b6b6b;
}

.social-network:nth-child(2) {
  background-color: #ededed;
}

.shop-now-btn {
  display: none;
}

/* OFFERS Styles */
.special-offers {
  display: none;
}

.category-form {
  width: 100vw;
  height: 8vh;
}

.category-form i {
  position: absolute;
  right: 25px;
  margin-top: 20px;
  color: white;
  font-size: 2rem;
}

#category-select {
  width: 100%;
  height: 100%;
  background-color: #f4845d;
  color: white;
  padding: 0 5%;
  font-size: 30px;
  text-transform: uppercase;
  border: none;
}

/* PRODUCTS */
.categories {
  display: none;
}

.hot-items {
  width: 100%;
  background-color: #ffa687;
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-top: 20px;
}

.product-item {
  display: none;
  min-width: 245px;
}

.product-item:nth-child(1), .product-item:nth-child(2) {
  display: inline-block;
  width: 280px;
  height: 500px;
  background-color: #f7f7f7;
  margin: 10px;
}

.product-image {
  width: 100%;
  height: 73%;
  background-repeat: no-repeat;
  background-position: 10% top;
  background-size: cover;
}

.dollar {
  display: none;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #3d3d3d;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

.circle i {
  color: white;
}

.p-shop-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  font-size: 18px;
}

.product-image:hover .dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
}

.mimosa {
  background-image: url("images/items/dress1.png");
}

.wishDress {
  background-image: url("images/items/bloose.png");
}

.product-info {
  text-align: center;
  background-color: #f9f5f4;
  padding: 15px 0;
}

.add-to-cart-btn {
  background-color: #fd926d;
  color: white;
  font-size: 20px;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(221, 107, 68, 0.004);
          box-shadow: 0px 7px 0px 0px rgba(221, 107, 68, 0.004);
  width: 220px;
  height: 66px;
  border: none;
  border-bottom: 8px #dd6b44 solid;
}

.add-to-cart-btn:hover {
  cursor: pointer;
}

.plus {
  font-weight: bolder;
  font-size: 32px;
  vertical-align: middle;
  margin-left: 1rem;
}

.product__title {
  font-size: 18px;
}

.product__price {
  font-size: 27.5px;
  margin: 5px 0;
}

.more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-more {
  width: 220px;
  height: 60px;
  font-size: 1.2rem;
  color: white;
  background: black;
  margin-bottom: 35px;
  margin-top: 40px;
}

.load-more:hover,
.load-more:active {
  cursor: pointer;
  border: solid 1px white;
}

/* SALES  */
.sale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

.sale-icon {
  width: 95%;
  height: 25vh;
  background-image: url("images/icons/sales.png");
  background-repeat: no-repeat;
  background-position: center;
}

.sales-line {
  background-color: #b2b2b2;
  opacity: 0.502;
  width: 390px;
  height: 1px;
}

.sales-items {
  width: 100%;
}

.sales-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.sales-products-item {
  display: none;
}

.sales-products-item:nth-child(1),
.sales-products-item:nth-child(2) {
  display: inline-block;
  width: 280px;
  height: 500px;
  background-color: white;
  margin: 10px;
}

.bag-1 {
  background-image: url("images/items/bag1.png");
}

.bag-2 {
  background-image: url("images/items/bag2.png");
}

/* FOOTER  */
footer {
  width: 100%;
}

.big-footer,
.about-us,
.base-info,
.pay-info {
  display: none;
}

.black-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  padding: 0 20px;
  height: 10vh;
  background-color: black;
  color: white;
}

.black-bar a {
  text-decoration: none;
  color: #8d8d8d;
}

.black-bar-info {
  display: none;
}

.black-bar p {
  text-align: right;
  line-height: 2rem;
}
/*# sourceMappingURL=iphone_style.css.map */